* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: #000000;
    color: #F7F9F9;
    background-image: url('../css/Unit1GameBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto;
    grid-template-areas: 
    "nav"
    "game-container";
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    grid-area: nav;
}

.answer {
    background-color: #000000;
    color: #F7F9F9;
    text-shadow: 1px 1px 2px #000000;
    font-weight: bold;
    height: 75%;
    width: 80%;
    border-radius: 20%;
    font-size: 15px;
    box-shadow: 5px 5px #696969;
    background: linear-gradient(135deg, #000000 0%,#808080 50%,#484848 63%,#000000 100%);  
}


.game-container {
    grid-area: game-container;
    margin: 0;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr auto 2fr;
    grid-template-areas: 
    ". quote ."
    ". embeddedMovie nextButton"
    "answer-buttons answer-buttons answer-buttons";
}

.movieQuote {
    grid-area: quote;
    grid-column-start: 2;
    font-size: 40px;
    font-weight: bold;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 2px #696969, 0 0 1em #000000, 0 0 0.2em #2F4F4F;
}

#embeddedMovie {
    grid-area: embeddedMovie;
    grid-column-start: 2;
    font-weight: bold;
    font-size: 20px;
}

.answer-buttons {
    grid-area: answer-buttons;
    justify-items: center;
    display: grid;
    height: 90%;
    width: 90%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "answer1 answer2"
    "answer3 answer4";
}

#answerOne {
    grid-area: answer1;
    cursor: pointer;
}

#answerTwo {
    grid-area: answer2;
    cursor: pointer;
}

#answerThree {
    grid-area: answer3;
    cursor: pointer;
}

#answerFour {
    grid-area: answer4;
    cursor: pointer;
}

#nextButton {
    grid-area: nextButton;
    background: url(../css/Fast-Forward_1-512.png);
    background-size: cover;
    border: none;
    height: 80px;
    width: 80px;
    cursor: pointer;
}


@media  only screen and (max-width: 768px) {
    .game-container {
        grid-area: game-container;
        margin: 0;
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr auto auto 2fr;
        grid-template-areas: 
        "quote"
        "embeddedMovie" 
        "nextButton"
        "answer-buttons";
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        grid-area: nav;
    }

    .movieQuote {
        grid-area: quote;
        font-weight: bold;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 1px 1px 2px #696969, 0 0 1em #000000, 0 0 0.2em #2F4F4F;
    }
    
    #embeddedMovie {
        grid-area: embeddedMovie;
        font-weight: bold;
    }
    
    .answer-buttons {
        grid-area: answer-buttons;
        justify-items: center;
        display: grid;
        height: 90%;
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "answer1" 
        "answer2"
        "answer3" 
        "answer4";
    }

    #nextButton {
        grid-area: nextButton;
        background: url(../css/Fast-Forward_1-512.png);
        background-size: cover;
        border: none;
        height: 50px;
        width: 50px;
    }
}    