body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Montserrat Subrayada', sans-serif;
    background-color: #000000;
    background-image: url('../css/Unit1GameBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 200px auto;
    grid-template-areas: 
    "nav"
    "quote"
    "answer-buttons";
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    grid-area: nav;
}

.movieQuote {
    grid-area: quote;
    font-family: 'Quicksand', sans-serif;
}

.answer {
    background-color: #000000;
    color: #F7F9F9;
    height: 50px;
    width: 150px;
    font-family: 'Quicksand', sans-serif; 
    border-radius: 20%;
}

.answer-buttons {
    grid-area: answer-buttons;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "answer1 answer2"
    "answer3 answer4";
}

#answerOne {
    grid-area: answer1;
    align-content: center;
}

#answerTwo {
    grid-area: answer2;
}

#answerThree {
    grid-area: answer3;
}

#answerFour {
    grid-area: answer4;
}

